{% extends 'catalog/base.html' %}
{% load tags_newsletter %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="my-0 font-weight-normal">Сервис для создания рассылок</h1>

            <div class="card mb-5 box-shadow">
                <div class="card-header">
                    <h3 class="card-title pricing-card-title">Лента</h3>

                    <a class="btn btn-primary" href="{% url 'newsletter:create' %}">Создать рассылку</a>
                    <a class="btn btn-primary" href="{% url 'newsletter:create_letter' %}">Создать письмо</a>
                    <a class="btn btn-primary" href="{% url 'newsletter:create_client' %}">Создать адресата</a>
                    <a class="btn btn-primary" href="{% url 'newsletter:letter_list' %}">Список писем</a>
                    <a class="btn btn-primary" href="{% url 'newsletter:client_list' %}">Список адресатов</a>

                    {% if user|has_group:'managers' %}
                    <a class="btn btn-success" href="{% url 'users:user_list' %}">Зарегистрированные пользователи</a>
                    {% endif %}
                </div>

                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Создатель</th>
                            <th scope="col">Начало рассылки</th>
                            <th scope="col">Конец рассылки</th>
                            <th scope="col">Количество клиентов</th>
                            <th scope="col">Письмо</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <th scope="row">{{ object.pk }}</th>
                            <td>{{ object.creator.email }}</td>
                            <td>{{ object.start }}</td>
                            <td>{{ object.end }}</td>
                            <td>{{ object.client.count }}</td>
                            <td>{{ object.letter.head }}</td>
                            <td>{% if user|has_group:"managers" or user == object.creator %}
                                <a href="{% url 'newsletter:read' object.pk %}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                </a>
                                {% endif %}
                                {% if user|has_group:"managers" %}
                                <a href="{% url 'newsletter:manager_update_news' object.pk %}">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        {% if object.is_active %}
                                        Deactivate
                                        {% else %}
                                        Activate
                                        {% endif %}
                                    </button>
                                </a>

                                {% endif %}

                            </td>
                        </tr>

                        {% endfor %}
                        </tbody>


                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
