{% extends 'catalog/base.html' %}
{% load tags_newsletter %}
{% block content %}
<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="my-0 font-weight-normal">Сервис для создания рассылок</h1>

            <div class="card mb-5 box-shadow">
                <div class="card-header">
                    <h3 class="card-title pricing-card-title">Лента</h3>

                    <a class="btn btn-primary" href="{% url 'newsletter:create' %}">Создать рассылку</a>
                    {% if user|has_group:'managers' %}
                    <a class="btn btn-primary" href="{% url 'users:user_list' %}">Список авторов рассылок</a>
                    {% endif %}
                </div>
                {% for object in object_list %}
                <div class="card-body">

                    <ul class="list-unstyled mt-3 mb-4 text-start m-4">
                        <li><a class="text-muted" href="{% url 'newsletter:read' object.pk %}">
                            Рассылка №{{ object.pk }}</a>
                        </li>
                    </ul>
                    <div class="btn-group">

                        <a href="{% url 'newsletter:read' object.pk %}">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        </a>
                        {% if user|has_group:"managers" %}
                            <a href="{% url 'newsletter:manager_update_news' object.pk %}">
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    {% if object.is_active %}
                                    Deactivate
                                    {% else %}
                                    Activate
                                    {% endif %}
                                </button></a>
                        {% endif %}
                        {% if user == object.creator %}
                            <a href="{% url 'newsletter:update' object.pk %}">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Update</button>
                            </a>
                            <a href="{% url 'newsletter:delete' object.pk %}">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                            </a>


                        {% endif %}

                    </div>

                </div>
                {% endfor %}
            </div>

        </div>

    </div>

</div>
    {% endblock %}
