{% extends 'catalog/base.html' %}

{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Создай свою рассылку</h1>
        <p>Войди в систему и создавай рассылки с необходимыми тебе параметрами </p>
        <p>У нас уже {{ newsletter.count }} рассылок, из них активны {{ active_newsletter.count }}</p>
        <p>Уникальных клиентов {{ unique_client.count }}</p>
        {% if user.is_authenticated %}
        <p><a class="btn btn-primary btn-lg" href="{% url 'newsletter:create' %}" role="button">Создать рассылку &raquo;</a></p>
        {% else %}
        <a class="btn btn-primary btn-lg" href="{% url 'users:login' %}" role="button">Войти &raquo;</a>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        {% for blogpost in blogpost_random %}
        <div class="col-md-4">
            <h3>{{ blogpost.title }}</h3>
            <p>{{ blogpost.text|truncatechars:100 }}</p>
            <p><a class="btn btn-secondary" href="{% url 'blog:post' blogpost.pk %}" role="button">View details &raquo;</a></p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}